# Dependencies
node_modules/

# Build outputs
dist/
.next/
build/
coverage/
.turbo/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.vscode/
